
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie Mestarit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smooth as Smoothie</h1>
        
        <p><a href="/lisays">Siirry smoothie lisäykseen.</a></p>
        <p><a href="/lisays_raakaaine">Lisää ja tarkastele raaka-aineita.</a></p>
        
        <h2>Smoothie listaus</h2>
        <ol>
            <li th:each="smoothie : ${smoothiet}">
                 <a th:href="${'/smoothie/'+smoothie.id}"><span th:text="${smoothie.nimi}"></span></a>
            </li>
        </ol>
        
        
        
    </body>
</html>