<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie Manageri</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        
        <nav>
            <a href="/"> Etusivu</a>
            <a href="/lisays"> Smoothie Manageri</a>
            <a href="/lisays_raakaaine"> Raakaaine Manageri</a>
        </nav>
        
        <h1>Smoothie Manager</h1>

        <p>Lisää ja poista smoothieita</p>
        
        <form method="POST" action="/l_smoothie">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää smoothie"/>
        </form>
        
        <br/>
        
        <form method="POST" action="/l_raakaainesmoothieen">
            <fieldset>
                <legend>Lisää raakaaineita</legend>
                <label>Valitse Smoothie: </label>
                <select name="annos">
                    <option th:each="smoothie: ${smoothiet}" th:text="${smoothie.nimi }" th:name="annos"></option>
                </select><br/>
                <label>Valitse Raakaaine: </label>
                <select name="raakaaine">
                    <option th:each="raakaaine: ${raakaaineet}" th:text="${raakaaine.nimi}" th:name="raakaaine"></option>
                </select><br/>
                <label>Määrä: </label>
                <input type="text" name="maara"/><br/>
                <label>Miten: </label>
                <input type="text" name="miten"/><br/>
                <label>Järjestys: </label>
                <input type="text" name="jarjestys"/><br/>
                <input type="submit" value="Lisää raaka-aine"/>
            </fieldset>
        </form>
        
        <h2>Smoothiet</h2>
        <ol>
            <li th:each="smoothie : ${smoothiet}">
                 <span th:text="${smoothie.nimi}"></span><a th:href="${'/lisays/'+smoothie.id}"> [poista]</a>
            </li>
        </ol>
        

    </body>


</html>