<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smooth Mastery</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lisää smoothie</h1>


        <form method="POST" action="/l_smoothie">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää smoothie"/>
        </form>
        
        <h2>Smoothiet</h2>
        <ol>
            <li th:each="smoothie : ${smoothiet}">
                 <a th:href="${'/smoothie/'+smoothie.id}"><span th:text="${smoothie.nimi}"></span></a>
            </li>
        </ol>


        
        <p><a href="/">Etusivulle</a></p>
        

    </body>


</html>